<h1>Ice Cream!</h1>

<div class="container">

  <div class="row">
    <div class="col">
      <h2>Add your favorite Ice Cream!</h2>
      <form>
        <input type="text" id="name" name="icecream_name" placeholder="Creamy and delicious Ice Cream">
        <button type="submit" id="addIceCreamButton">Add your Ice Cream</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div id="icbutns" class="col-6">
      <h4>Click a flavor to Devour!</h4>
      {{#each icecream}}
        {{#unless this.devoured}}
          <div>
            <form>
              <button type="submit" flavor={{this.id}} class='icecreamAvailable'> {{this.name}}</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </div>

    <div id="iceaten" class="col-6">
      <h4>Devoured! Click a flavor to remove.</h4>
      {{#each icecream}}
        {{#if this.devoured}}
          <div>
            <form>
              <button type="submit" value={{this.id}} class='icecreamDevoured'> {{this.name}}</button>
            </form>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

</div>
