<div class="container">

  <h1>Ice Cream!</h1>

  <div id="icbutns" class="icnotdevoured col-6">
    {{#each icecream}}
      {{#unless this.devoured}}
        <div>
          <form>
            <button type="submit" flavor={{this.id}} class='icecreamAvailable'> {{this.name}}</button>
          </form>
        </div>
      {{/unless}}
    {{/each}}
  </div>

  <div class="icdevoured col-6">
    {{#each icecream}}
      {{#if this.devoured}}
        <div class='icecreamEaten'>
          <div>
            {{this.name}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

  <h2>Add your favorite Ice Cream!</h2>

  <div class="col">
    <form>
      <input type="text" id="name" name="icecream_name" placeholder="Creamy and delicious Ice Cream">
      <button type="submit" id="addIceCreamButton">Add your Ice Cream</button>
    </form>
  </div>

</div>
