body {
    background-color: aqua;
    margin: auto;
    width: 75%;
}

.contianer {
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 40%;
}

h1, h2, h4 {
    text-align: center;
}

form {
    text-align: center;
}

.icecreamAvailable {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
}

.icecreamDevoured {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
}

